UneCont.Notas/Notas.Api/Notas.Api/bin
UneCont.Notas/.vs
UneCont.Notas/Notas.Api/Notas.Api/obj
UneCont.Notas/Notas.Application/Notas.Application/bin
UneCont.Notas/Notas.Application/Notas.Application/obj
UneCont.Notas/Notas.Domain/Notas.Domain/bin
UneCont.Notas/Notas.Domain/Notas.Domain/obj
UneCont.Notas/Notas.Infrastructure/Notas.Infrastructure/bin
UneCont.Notas/Notas.Infrastructure/Notas.Infrastructure/obj
